.dictMainWnd{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 18px;
    font-family: Open Sans;

    height:90%;
}

#idInputText2Google{
    height:15% ;
    font-family: Open Sans;
    font-size: 48px;
}

#idOutputGoogle{
    font-family: Open Sans;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#idBTNGoogle{
    font-family: Open Sans;
    height:10% ;

}

.dictAnywhereItem{
    list-style-type:none;
}

.dictAnywhereItem :hover{
    background-color:cadetblue;
    font-size: 24px;
}

.dictAnywhereItemContent{
    display: flex;
    flex-direction: row;
    justify-content:flex-start ;/*space-between*/
    gap: 20px;

    font-size: 24px;

}

