@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@350&family=Noto+Serif+Thai:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.ch-noto-sans-sc-350 {
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}
.en-noto-sans-sc-350 {
    font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
}

.th-noto-sans-sc-350 {
font-family: "Noto Sans SC", sans-serif;
font-optical-sizing: auto;
font-weight: 350;
font-style: normal;
}

.ProseMirror{
font-family: "Noto Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;

}

/* 编辑器区字体 */
.toastui-editor-md-container .toastui-editor{
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    font-size: 14px;
}

/* 预览区字体 */
.toastui-editor-defaultUI .toastui-editor-md-preview {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-size: 14px !important;
    /*line-height: 1.6;*/
}