body{
    display: flex;
    flex-direction: row;
    width:100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}


.leftPanel{
    height: 100vh;
    background-color:white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*align-items: flex-start;*/
    /*padding-left: 10px;*/
}

.leftPanelCollapse{
    width:40px ;
}

.leftPanelExpand{
    width:400px ;
}

.navigationBar{
    width:40px ;
    height:100% ;
    /*width:100%;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.rightPanel{
    /*width:80%;*/
    height: 100vh;
    background-color: white;
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rightHeaderBar{
    width: 100%;
    height:40px;
    background-color:white;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rightPanelMain{
    width: 80%;
    height: 100%;
    flex-grow: 0;
    background-color: white;

    display: flex;
    flex-direction: row;
}

.workingSpace{
    /*width: 80% ;*/
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-grow: 1;

    background-color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.workingFocus{
    background-color: white;
    width:98%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: column;

}

.workingAside{
    width: 300px ;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-grow: 0;

    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
}

.workingAsideToolbar{
    width: 100%;
    height:60px;
    background-color:white;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.noShow{
    display: none !important;
}

.outpostBTN:hover{
    cursor: pointer;
}