.truncate {
  width: 95vw; /* Set the desired width */
  overflow: hidden; /* Hide overflow content */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Show "..." for truncated text */
}


.truncate-multi-line {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  width: 400px; /* Adjust as needed */
}

/*demo 
    https://codepen.io/alexzhangmaker/pen/RNPBWGb
*/